@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f1f1f1;
    font-family: 'popins',sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    position: fixed; 
    width: 100%;
}
.location{
    background: aqua;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vw;
    padding: 20px;
}
.location .address{
    display: flex;
    flex-direction: row;
}
.location .address ion-icon{
    color: #fff;
    height: 20px;
    width: 20px;
}
.location .numbers{
    position: relative;
    left: 35%;
    display: flex;
    flex-direction: row;
}
.location ul{
    display: flex;
    position: relative;
    color: orange;
    left: 40%;
}
.location ul li{
    list-style: none;
}
.location ul li a{
    text-decoration: none;
    color: orange;
}
.navbar{
    background: #fff;
    padding: 10px;
    display: flex;
    height: 15vh;
    flex-direction: row;
}
.navbar ul{
    display: flex;
    position: relative;
    left: 50%;
    top: 30px;
}
.navbar ul li{
    padding-left: 20px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
}
.about{
    padding: 10px;
    background: rgb(145, 145, 221);
    height: 5vh;
}
.next{
    /* background: aqua; */
    margin-left: 10%;
    width: 80%;
    border-radius: 20px;
    margin-top: -84px;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.next img{
    width: 30vw;
    height: 70vh;
}
.next .written{
    padding-left: 50px;
    line-height: .4in;
}
.next .written h4{
    font-size: 2rem;
    color: gray;
}
.next .written h3{
    font-size: 2rem;
}
.next1{
    /* background: aqua; */
    margin-left: 10%;
    width: 80%;
    border-radius: 20px;
    margin-top: -84px;
    height: 90vh;
    padding: 20px;
}
.next1 h2
{
    text-align: center;
}
.next1 p{
    margin-left: 17%;
    margin-right: 17%;
}
.next1 ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    cursor: pointer;
}
.next1 ul li{
    list-style: none;
    background: #fff;
    height: 30vh;
    border-radius: 10px;
    padding: 20px;
}
.next1 ul li a{
    text-decoration: none;
}
.next2{
    /* background: linear-gradient(green,yellow); */
    background: rgba(0,0,0,0.8) url(../images/bg\ \(2\).jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 110vh;
    background-attachment: fixed;
    width: 100%;
    height:80vh;
}
.next2 h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 150px;
    color: red;
    /* margin-top: -10%; */
}
.next2 hr{
    width: 85%;
    margin-left: 100px;
    border: 2px solid orange;
}
.next2 .col-mod-3{
    padding: 20px;
}
.next2 .row{
    display: flex;
    flex-direction: row;
}
.next2 .counter-box{
    margin-left: 70px;
    padding: 100px 0px;
    margin-right: 1px solid #fff;
}
.next2 .counter-box h1{
    font-size: 2rem;
    color: #ff0066;
    font-weight: bold   ;
}
.next2 .counter-box span{
    font-size: 2.5rem;
    color: #ff0066;
}
.next3{
    /* background: linear-gradient(green,yellow); */
    background: rgba(0,0,0,0.8) url(../images/bg\ \(2\).jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
}
.next3 .next71{
    /* background: aqua; */
    margin-left: 10%;
    width: 80%;
    border-radius: 20px;
    margin-top: -84px;
    height: 60vh;
    padding: 20px;
}
.next71 h2
{
    text-align: center;
    color: #fff;
}
.next71 p{
    margin-left: 17%;
    margin-right: 17%;
    color: #fff;
}
.next71 .wrapper{
    /* height: 500px; */
    /* border: 1px solid #fff; */
    display: flex;
    overflow-x: auto;
}
.next71 .wrapper::-webkit-scrollbar{
    width: 0;
}
.next71 .wrapper .item{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    background-color:#fff;
}
.next71 .wrapper .item p{
    margin: 0;
    color: black;
    padding: 20px;
}
.next71 .wrapper .item .clients{
    display: flex;
    flex-direction: row;
    padding: 20px;
    white-space: nowrap;
}
.next71 .wrapper .item .clients .university{
    padding-left: 20px;
}
.next4{
    /* background: aqua; */
    margin-left: 10%;
    width: 80%;
    border-radius: 20px;
    height: 70vh;
}
.next4 h4{
    text-align: center;
    font-size: 1.5rem;
}
.next4 .pics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 20px;
}
.next4 .pics .one{
    background: blue;
    width: 20vw;
    height: 30vh;
}
.next4 .pics .one img{
    width: 20vw;
    height: 30vh;
}
.next5{
    background: linear-gradient(blue,aqua);
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.next5 img{
    width: 40%;
    height: 100%;
}
.next5 .matter{
    padding-top: 100px;
    padding-right: 100px;
    line-height: 0.5in;
}
.next5 .matter button{
    margin-left: 40%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.next5 .matter button a{
    text-decoration: none;
    font-size: 1rem;
}
.next5 .matter button:hover{
    background-color: pink;
}